{% extends "base_auth.html" %}

{% block content %}
<h3 class="alert alert-primary" role="alert" >Вход в личный кабинет</h3>
<div>
    <form action="" method="POST">
<p><input class="field" type='text' name="login" placeholder="Введите логин"></p>
<p><input class="field" type='password' name="password" placeholder="Введите пароль"></p>
<p><input class="button-ok" type="submit" value="Войти"></p>
</form>
<h4>{{message}}</h4>
</div>
<h4 class="margin-l small-size margin-t">У Вас нет акаунта? Нажмите <a href='/reg'>Здесь</a> чтобы зарегистрироваться</h4>
{% endblock content %}